/* Global */
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
}

a {
  text-decoration: none;
}

ul li {
list-style: none;
}

.container-page {
  max-width: 1400px;
  height: 100%;
  margin: 25px auto;
}

.container-page h1 {
  font-size: 2.75em;
  font-weight: 800;
}

/* Content */

/* Header */
.container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 1em;
}

.container-title a img {
  max-width: 200px;
}

.slogan {
    display: inline;
    font-weight: 700;
    font-size: 2em;
}

.social-media-container ul li ion-icon {
    font-size: 1.5em;
    padding: 5px;
    margin-left: 3px;
    color: #003b6d;
    border: 3px solid #003b6d;
    border-radius: 6px;
    background-color: #ffffff;
}

.social-media-container ul li ion-icon:hover {
  color: #6699cc;
  border: 3px solid #6699cc;
} 

/* Screen Reader Display Rule */
span.sr-only {
  display: none;
}

/* Combination Style Rule for Social Icons and Primary Nav */
header ul li {
  display: inline-block;
}

/* Primary Nav Styles */
.container-primary-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em auto;
}

.main-nav ul li a {
  display: inline-flex;
  padding: 10px 15px;
  font-size: 1.25em;
  color: #6699cc;
}

.main-nav ul li a.current-page {
  color: white;
  background-color: #003b6d;
  border-radius: 6px;
}

.main-nav ul li a:hover {
  color: white;
  background-color: #003b6d;
  border-radius: 6px;
}

#search form input{
  display: inline-block;
  margin-right: 20px;
  padding: 10px 125px 10px 50px;
  background-color: #bdbdbd8a;
  background-image: url('../img/svg/search_icon.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
  border-radius: 6px;
  color: #003b6d;
  border: none;
  font-size: 1.5em;
}

.breadcrumb-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.breadcrumb-nav ul li {
  font-size: 1.25em;
  margin-left: 3rem;
}

.breadcrumb-nav ul li span ion-icon {
  color: #696969;
}

.breadcrumb-nav ul li span ion-icon:hover {
  color: #003b6d;
}

.breadcrumb-nav ul li span::after {
  margin-left: .5rem;
  align-items: center;
  content: "〉";
  font-size: 1em;
  font-weight: 700;
  color: #696969;
}

/* Hero Section */
.container-hero {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 1.5em;
  border-radius: 9px;
  background-color: #003b6d;
  color: #ffffff;
}

#hero-img img {
  flex: 1;
  flex-wrap: wrap;
  max-width: 600px;
  max-height: 600px;
  margin: 20px;
  border-radius: 3px;
}

#brand-values {
  flex: 1;
  flex-flow: column wrap;
  max-width: 600px;
  max-height: 600px;
  margin: 20px;
}

#brand-values h1 {
  margin-top: -10px;
}

#brand-values > p {
  margin-top: -30px;
  font-size: 2em;
  font-weight: 400;
  line-height: 45px; 
}

button.call-to-action {
  border: 2px solid #6699cc;
  border-radius: 9px;
  background-color: #ffffff;
  color: #6699cc;
  font-size: 1.25em;
  font-weight: 500;
  margin: auto;
  padding: .75em;
  text-align: center;
}

button.call-to-action a {
  padding-left: 1em;
}

button.call-to-action a::after {
  content: '➜ '; 
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
}

#brand-values button.call-to-action:hover {
  background-color: #6699cc;
  color: #ffc000;
  padding-right: 1em;
  letter-spacing: .05em;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

main article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: auto;
  padding: 0em;
}

article section {
  max-width: 1200px;
  max-height: 600px;
  margin: auto;
  text-align: center;
}

article section h1 {
  margin-bottom: .25em;
}

article section p {
  margin-top: .25em;
  font-size: 1.5em;
}

.service-cards-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-column {
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: row;
  margin: 3em;
}

.card-content img {
  flex-direction: column;
  flex: 1;
  max-width: 125px;
}

.card-text {
  flex-direction: column;
  flex: 2;
  flex-wrap: wrap;
  align-content: center;
}

.pexpert-card-column {
  flex: 2;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #bdbdbd;
}